div {
	margin: 20px;
}

button {
	border-radius: 5px;
}

.key {
	visibility: hidden;
	font-weight: bold;
}

.container {
	width: 50%;
}

#loadButton {
	visibility: hidden;
}

.col-md-9 {
	margin: 30px;
}

.btn-primary {
	padding: 20px;
	margin: 10px;
}

.btn-primary {
	width: 175px;
}

.btn-secondary {
	padding: 20px;
	margin: 10px;
}

#previousButton {
	visibility: hidden;
}

.key {
	visibility: hidden;
}

#timer-header {
	visibility: hidden;
}

#score {
	visibility: hidden;
}

.boolean {
	visibility: hidden;
}

.multiple {
	visibility: hidden;
}


