div {
	margin-left: 20px;
	margin-top: 10px;
}

button {
	border-radius: 5px;
}

#progressButtons {
	margin-left: 0px;
	padding: 0px;
}

#previousButton {
	margin-left: 0px;
}

.progButton {
	padding: 0px;
}

.key {
	font-weight: bold;
}

.container {
	width: 50%;
}

.offset {
	padding: 20px;
}

.btn-primary {
	padding: 20px;
	margin: 10px;
	width: 175px;
}

.btn-secondary {
	padding: 20px;
}
