div {
	margin: 20px;
}

.key {
	visibility: hidden;
	font-weight: bold;
}

#loadButton {
	visibility: hidden;
}

.col-md-9 {
	margin: 30px;
}

.btn-primary {
	padding: 20px;
	margin: 10px;
}

.btn-secondary {
	padding: 20px;
	margin: 10px;
}

#previousButton {
	visibility: hidden;
}

.key {
	visibility: hidden;
}

.boolean {
	visibility: hidden;
}

.multiple {
	visibility: hidden;
}

